* {
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex 1;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #1F2937;
}
.header {
    
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: flex;
    padding: 18px;
    justify-content: space-between;
    align-items: center;
}
.content {
    display: flex ;
    padding: 60px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}
.container {
    display: flex;
    flex-flow: column wrap;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    align-self: stretch;
    padding: 16px;
    justify-content: center;
    gap: 16px;
}
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}
.butt1 {
    align-self: flex-start;
    padding: 8px 24px;
    border-radius: 10px;
    color: wheat;
    background-color: #3882f6;
    font-weight: bold;
    font-size: 16px;
    
}
.trig {
    width: 500px;
}

.icons {
    background-color: rgba(255, 255, 255, 0.918);
    display: flex;
    flex-direction: column;
    margin: 0px -40px;
}

.headeri {
display: flex;
font-size: 36px;
color: #1F2937;
font-weight: bolder;
justify-content: center;
align-content: center;
padding: 16px;
}
.containeri{
    padding: 60px 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
 color: #1F2937;
}

.icon {
    display: flex 1 1 200px;
    flex-direction: column;
    flex-basis: 200px;
    gap: 20px;
    font-weight: bold;
    text-align: center;
}

.jug {
    width: 200px;
    border: #1F2937;
    border-radius: 10px;
    border-width: 5px;
    border-style: groove;
}   

.quote {
    background-color: #cbcdd1;
    margin: 0px -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 300px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    gap: 10px;
}
.quoter {
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
}

.signup {
    background-color: rgba(255, 255, 255, 0.918);
    margin: 0px -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 300px;
}

.card {
    background-color: #3882f6;
    display: flex;
    padding: 40px 90px;
    border-radius: 10px;
    align-items: center;
}
.hsignup {
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.subsignup {
    font-weight: 300;
    font-size: 16px;
}
.butt2 {
    margin-left: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    color: wheat;
    background-color: #3882f6;
    font-weight: bold;
    font-size: 16px;
    border-color: white;
    border-style: solid;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    padding: 25px 0px
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 14px;
    align-items: center;
}



a {
    text-decoration: none;
    color: whitesmoke;
}